In [1]:
# change directory
import os
rootdir = os.path.dirname(os.getcwd())
os.chdir(rootdir)

# import third libs for data
from datetime import datetime as dt
from datetime import timedelta as td
import numpy as np
import pandas as pd

# import config
from config import DATA_DIR

# Chargement des donnees

In [2]:
benchmarkname = 'HGD_dialysis_2018_2021'
benchmarkdir = os.path.join(DATA_DIR, 'raw', benchmarkname)
benchmarkdir

'D:\\Recherches\\Travaux\\RCEMP\\rcemp-dial\\data\\raw\\HGD_dialysis_2018_2021'

## chargement des seances

In [3]:
datapath = os.path.join(benchmarkdir, 'donnees_seances.csv')
seances = pd.read_csv(datapath, sep=';', index_col='Date', parse_dates=True, dayfirst=True)
seances.head()

            ID   Tour  Patients  Debut  Duree
Date
2018-03-26   1  Tour1        21      5      5
2018-03-26   2  Tour2        21     10      5
2018-03-26   3  Tour3        21     15      5
2018-03-26   4  Tour4         8     20      5
2018-03-27   5  Tour1        21      5      5

In [4]:
seances.dtypes

ID           int64
Tour        object
Patients     int64
Debut        int64
Duree        int64
dtype: object

## chargement des generateurs

In [5]:
datapath = os.path.join(benchmarkdir, 'donnees_generateurs.csv')
generateurs = pd.read_csv(datapath, sep=';', index_col='Numero')
generateurs.head()

,Code,TT,TO,TNR,TR,TAP,TF,TE,TN,TU,TRE,TRSi
Numero,,,,,,,,,,,,
1,7SXAWU98,30576,22932,932,22000,6301.08,15698.92,4.92,15694,15694,0,NaN
2,7SXAWT97,30576,22932,932,22000,19262.22,2737.78,1.78,2736,2736,0,NaN
3,7SXAWU81,30576,22932,932,22000,9462.73,12537.27,1.27,12536,12536,0,NaN
4,7SXAWU91,30576,22932,932,22000,7857.71,14142.29,2.29,14140,14140,0,NaN
5,7SXAWS81,30576,22932,932,22000,5639.52,16360.48,4.48,16356,16356,0,NaN

In [6]:
generateurs.dtypes

Code     object
TT        int64
TO        int64
TNR       int64
TR        int64
TAP     float64
TF      float64
TE      float64
TN        int64
TU        int64
TRE       int64
TRSi    float64
dtype: object

In [7]:
generateurs.Code.sort_values()

Numero
24    6SX4LV10
21    7SXAWS80
5     7SXAWS81
20    7SXAWS82
2     7SXAWT97
8     7SXAWT98
14    7SXAWU79
17    7SXAWU80
3     7SXAWU81
12    7SXAWU82
22    7SXAWU83
18    7SXAWU84
19    7SXAWU85
9     7SXAWU86
7     7SXAWU87
11    7SXAWU89
16    7SXAWU90
4     7SXAWU91
15    7SXAWU93
13    7SXAWU94
23    7SXAWU95
6     7SXAWU96
10    7SXAWU97
1     7SXAWU98
Name: Code, dtype: object

## chargements de l'historique des pannes

In [50]:
datapath = os.path.join(benchmarkdir, 'donnees_pannes.csv')
pannes = pd.read_csv(datapath, sep=';', index_col='Machines')
pannes = pannes.transpose()
pannes.index = pd.to_datetime(pannes.index, format='%d/%m/%Y')
pannes.fillna(0, inplace=True)
pannes = pannes.astype('Int64')
pannes.head()

Machines,7SXAWU98,7SXAWT97,7SXAWU81,7SXAWU90,7SXAWS81,7SXAWU96,7SXAWU87,7SXAWT98,7SXAWU86,7SXAWU97,...,7SXAWU93,7SXAWU91,7SXAWU80,7SXAWU84,7SXAWU85,7SXAWS82,7SXAWS80,7SXAWU83,7SXAWU95,6SX4LV10
2020-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
pannes.sum()

Machines
7SXAWU98     0
7SXAWT97     0
7SXAWU81    12
7SXAWU90     6
7SXAWS81    15
7SXAWU96    12
7SXAWU87     6
7SXAWT98     6
7SXAWU86     0
7SXAWU97    18
7SXAWU89     3
7SXAWU82     3
7SXAWU94    12
7SXAWU79     9
7SXAWU93     3
7SXAWU91    12
7SXAWU80    18
7SXAWU84     6
7SXAWU85     6
7SXAWS82     6
7SXAWS80     9
7SXAWU83     9
7SXAWU95    12
6SX4LV10    12
dtype: int64

## chargement des tranches horaires

In [10]:
datapath = os.path.join(benchmarkdir, 'tranches_maintenances.csv')
tranches_maintenances = pd.read_csv(datapath)
tranches_maintenances.set_index('Period', inplace=True)
tranches_maintenances

              D1       D2       D3       D4       D5       D6  D7
Period
0H-1H         --       --       --       --       --       --  --
1H-2H         --       --       --       --       --       --  --
2H-3H         --       --       --       --       --       --  --
3H-4H         --       --       --       --       --       --  --
4H-5H    service  service  service  service  service  service  --
5H-6H    service  service  service  service  service  service  --
6H-7H    service  service  service  service  service  service  --
7H-8H    service  service  service  service  service  service  --
8H-9H    service  service  service  service  service  service  --
9H-10H   service  service  service  service  service  service  --
10H-11H  service  service  service  service  service  service  --
11H-12H  service  service  service  service  service  service  --
12H-13H  service  service  service  service  service  service  --
13H-14H  service  service  service  service  service  service  --
14H-15H  service  service  service  service  service  service  --
15H-16H  service  service  service  service  service  service  --
16H-17H  service  service  service  service  service  service  --
17H-18H  service  service  service  service  service  service  --
18H-19H  service  service  service  service  service  service  --
19H-20H  service  service  service  service  service  service  --
20H-21H  service  service  service  service  service  service  --
21H-22H  service  service  service  service  service  service  --
22H-23H  service  service  service  service  service  service  --
23H-24H  service  service  service  service  service  service  --

In [11]:
datapath = os.path.join(benchmarkdir, 'tranches_soins.csv')
tranches_soins = pd.read_csv(datapath)
tranches_soins.set_index('Period', inplace=True)
tranches_soins

             D1      D2      D3      D4      D5      D6      D7
Period
0H-1H        --  soins4  soins4  soins4  soins4  soins4  soins4
1H-2H        --      --      --      --      --      --      --
2H-3H        --      --      --      --      --      --      --
3H-4H        --      --      --      --      --      --      --
4H-5H        --      --      --      --      --      --      --
5H-6H    soins1  soins1  soins1  soins1  soins1  soins1      --
6H-7H    soins1  soins1  soins1  soins1  soins1  soins1      --
7H-8H    soins1  soins1  soins1  soins1  soins1  soins1      --
8H-9H    soins1  soins1  soins1  soins1  soins1  soins1      --
9H-10H   soins1  soins1  soins1  soins1  soins1  soins1      --
10H-11H  soins2  soins2  soins2  soins2  soins2  soins2      --
11H-12H  soins2  soins2  soins2  soins2  soins2  soins2      --
12H-13H  soins2  soins2  soins2  soins2  soins2  soins2      --
13H-14H  soins2  soins2  soins2  soins2  soins2  soins2      --
14H-15H  soins2  soins2  soins2  soins2  soins2  soins2      --
15H-16H  soins3  soins3  soins3  soins3  soins3  soins3      --
16H-17H  soins3  soins3  soins3  soins3  soins3  soins3      --
17H-18H  soins3  soins3  soins3  soins3  soins3  soins3      --
18H-19H  soins3  soins3  soins3  soins3  soins3  soins3      --
19H-20H  soins3  soins3  soins3  soins3  soins3  soins3      --
20H-21H  soins4  soins4  soins4  soins4  soins4  soins4      --
21H-22H  soins4  soins4  soins4  soins4  soins4  soins4      --
22H-23H  soins4  soins4  soins4  soins4  soins4  soins4      --
23H-24H  soins4  soins4  soins4  soins4  soins4  soins4      --

# Identification de la periode d'echantillonage

## periodes de collecte des seances

In [95]:
debut_seances = seances['Patients'].index.min()
fin_seances = seances['Patients'].index.max()
fin_seances= fin_seances + pd.DateOffset(1)
debut_seances, fin_seances

(Timestamp('2020-01-01 00:00:00'), Timestamp('2021-05-23 00:00:00'))

## periodes de collecte des pannes

In [96]:
debut_pannes = []
fin_pannes = []
for machine in pannes.columns:
    test = pannes[machine]
    periodes = test[test == 1].index
    if len(periodes) == 0:
        continue
    debut_machine = periodes.min()
    debut_pannes.append(debut_machine)
    fin_machine = periodes.max()
    fin_pannes.append(fin_machine)
    print(machine, debut_machine, fin_machine)
debut_pannes = max(debut_pannes)
fin_pannes = max(fin_pannes)
fin_pannes= fin_pannes + pd.DateOffset(1)
debut_pannes, fin_pannes

7SXAWU81 2020-09-19 00:00:00 2021-06-03 00:00:00
7SXAWU90 2020-10-01 00:00:00 2020-10-10 00:00:00
7SXAWS81 2020-04-27 00:00:00 2021-06-30 00:00:00
7SXAWU96 2020-07-09 00:00:00 2021-05-30 00:00:00
7SXAWU87 2020-08-13 00:00:00 2021-04-25 00:00:00
7SXAWT98 2020-11-06 00:00:00 2021-05-06 00:00:00
7SXAWU97 2020-07-04 00:00:00 2021-02-12 00:00:00
7SXAWU89 2020-09-17 00:00:00 2020-09-19 00:00:00
7SXAWU82 2020-09-17 00:00:00 2020-09-19 00:00:00
7SXAWU94 2020-09-19 00:00:00 2021-12-02 00:00:00
7SXAWU79 2020-06-17 00:00:00 2021-05-06 00:00:00
7SXAWU93 2020-10-09 00:00:00 2020-10-11 00:00:00
7SXAWU91 2020-09-12 00:00:00 2021-06-30 00:00:00
7SXAWU80 2020-09-19 00:00:00 2021-05-06 00:00:00
7SXAWU84 2020-02-14 00:00:00 2020-07-25 00:00:00
7SXAWU85 2020-08-23 00:00:00 2021-06-17 00:00:00
7SXAWS82 2020-09-17 00:00:00 2021-04-29 00:00:00
7SXAWS80 2020-07-13 00:00:00 2020-12-19 00:00:00
7SXAWU83 2020-09-17 00:00:00 2020-12-03 00:00:00
7SXAWU95 2020-03-30 00:00:00 2021-03-27 00:00:00
6SX4LV10 2020-09-17 00:00:00 2021-06-03 00:00:00

(Timestamp('2020-11-06 00:00:00'), Timestamp('2021-12-03 00:00:00'))

# Identification des patients

## Regroupement des patients par jour

In [97]:
seances_by_date = seances.groupby('Date')
seances_sum_by_date = seances_by_date.sum(numeric_only=True)
patients_count = seances_sum_by_date['Patients']
patients = pd.DataFrame(patients_count)
patients.columns = ['number']
patients.head()

            number
Date
2020-01-01      68
2020-01-02      71
2020-01-03      72
2020-01-06      73
2020-01-07      72

In [98]:
patients['day'] = patients_count.index.weekday + 1
patients.head()

            number  day
Date
2020-01-01      68    3
2020-01-02      71    4
2020-01-03      72    5
2020-01-06      73    1
2020-01-07      72    2

## Calcul des preferences des patients

In [99]:
seances_by_tour = seances.groupby('Tour')
seances_by_tour_min = seances_by_tour.min()
seances_by_tour_max = seances_by_tour.max()
seances_by_tour_min.head()
patients['release_date'] = seances_by_tour_min.loc['Tour1', 'Debut']
patients['due_date'] = seances_by_tour_max.loc['Tour4', 'Debut']
patients['duration'] = seances_by_tour_min.loc['Tour1', 'Duree']
patients.head()

            number  day  release_date  due_date  duration
Date
2020-01-01      68    3             5        20         5
2020-01-02      71    4             5        20         5
2020-01-03      72    5             5        20         5
2020-01-06      73    1             5        20         5
2020-01-07      72    2             5        20         5

## Identification des periodes de soins

In [100]:
patients.reset_index(inplace=True)
patients['period'] = patients['Date'].dt.to_period('W').apply(lambda r: r.end_time.date)
patients['period'] = pd.to_datetime(patients['period'])
patients.set_index('Date', inplace=True)
patients.tail(10)

            number  day  release_date  due_date  duration     period
Date
2021-05-12      70    3             5        20         5 2021-05-16
2021-05-13      63    4             5        20         5 2021-05-16
2021-05-14      66    5             5        20         5 2021-05-16
2021-05-15      63    6             5        20         5 2021-05-16
2021-05-17      71    1             5        20         5 2021-05-23
2021-05-18      68    2             5        20         5 2021-05-23
2021-05-19      65    3             5        20         5 2021-05-23
2021-05-20      63    4             5        20         5 2021-05-23
2021-05-21      71    5             5        20         5 2021-05-23
2021-05-22      60    6             5        20         5 2021-05-23

# Identification des machines

## Identification des machines par defaut

In [101]:
total_pannes = pannes.sum().astype('Int64')
machines_utiles = total_pannes[total_pannes > 0].index.to_list()
machines_utiles, len(machines_utiles)

(['7SXAWU81',
  '7SXAWU90',
  '7SXAWS81',
  '7SXAWU96',
  '7SXAWU87',
  '7SXAWT98',
  '7SXAWU97',
  '7SXAWU89',
  '7SXAWU82',
  '7SXAWU94',
  '7SXAWU79',
  '7SXAWU93',
  '7SXAWU91',
  '7SXAWU80',
  '7SXAWU84',
  '7SXAWU85',
  '7SXAWS82',
  '7SXAWS80',
  '7SXAWU83',
  '7SXAWU95',
  '6SX4LV10'],
 21)

## identification des machines de secours

In [102]:
machines_secours = total_pannes[total_pannes == 0].index
machines_secours

Index(['7SXAWU98', '7SXAWT97', '7SXAWU86'], dtype='object', name='Machines')

In [103]:
temps_secours = generateurs.set_index('Code')
temps_secours = temps_secours.loc[machines_secours, 'TF']
temps_secours.sort_values(ascending=False)

Machines
7SXAWU98    15698.92
7SXAWT97     2737.78
7SXAWU86     1705.91
Name: TF, dtype: float64

In [104]:
ordre_secours = temps_secours.sort_values(ascending=False).index
ordre_secours = ordre_secours.to_list()
ordre_secours

['7SXAWU98', '7SXAWT97', '7SXAWU86']

## identification des machines utilisees

In [105]:
use_jours = pd.DataFrame(0, index=pannes.index, columns=pannes.columns)
nb_machines = len(machines_utiles)
for jour in pannes.index:
    test = pannes.loc[jour]
    machines_pannes = test[test == 1].index
    machines_pannes = machines_pannes.to_list()
    if len(machines_pannes) > 0:
        machines_jour= [m for m in machines_utiles if m not in machines_pannes]
        machines_jour.extend(ordre_secours[:nb_machines - len(machines_jour)])
    else:
        machines_jour = list(machines_utiles)
    use_jours.loc[jour, machines_jour] = 1
    # print(jour, len(machines_jour), machines_pannes)
use_jours.shape

(735, 24)

In [106]:
machine1 = machines_utiles[0]
use_machine1 = use_jours[machine1]
use_machine1[use_machine1 > 0 ].head()

2020-01-01    1
2020-01-02    1
2020-01-03    1
2020-01-04    1
2020-01-05    1
Name: 7SXAWU81, dtype: int64

In [107]:
machine2 = machines_secours[0]
use_machine2 = use_jours[machine2]
use_machine2[use_machine2 == 0 ].head()

2020-01-01    0
2020-01-02    0
2020-01-03    0
2020-01-04    0
2020-01-05    0
Name: 7SXAWU98, dtype: int64

In [108]:
total_use_jours = use_jours.sum(axis=1)
total_use_jours.head()

2020-01-01    21
2020-01-02    21
2020-01-03    21
2020-01-04    21
2020-01-05    21
dtype: int64

In [109]:
total_use_jours[total_use_jours < nb_machines].head()

2020-09-17    19
2020-09-18    19
2020-09-19    16
2020-12-01    20
2020-12-02    19
dtype: int64

## calcul des temps d'utilisation journaliere

In [110]:
duree_traitement = 4
nb_machines = len(machines_utiles)
temps = seances['Patients'] * duree_traitement
temps.name = 'use_duration'
temps = temps.to_frame()
temps.head()

            use_duration
Date
2020-01-01            84
2020-01-01            84
2020-01-01            84
2020-01-01            20
2020-01-02            84

In [111]:
temps_jour1 = temps.resample('D').sum()
temps_jour1.head()

            use_duration
Date
2020-01-01           272
2020-01-02           284
2020-01-03           288
2020-01-04             0
2020-01-05             0

In [122]:
temps_jour2 = pd.DataFrame(0, index=pannes.index, columns=pannes.columns)
for jour in temps_jour1.index:
    test = use_jours.loc[jour]
    machines_jour = test[test == 1].index
    machines_jour = machines_jour.to_list()
    nb_machines_jour = len(machines_jour)
    
    nb_total = temps_jour1.loc[jour, 'use_duration']
    nb_seances = nb_total // nb_machines_jour
    nb_retards = nb_total % nb_machines_jour
    if nb_machines_jour < nb_machines:
        print(jour, nb_seances, nb_retards, len(machines_jour))

    temps_jour2.loc[jour, machines_jour] = nb_seances * duree_traitement
    for i in range(nb_retards):
        machine = machines_jour[i]
        temps_jour2.loc[jour, machine] += duree_traitement

temps_jour2.shape

2020-09-17 00:00:00 13 17 19
2020-09-18 00:00:00 13 13 19
2020-09-19 00:00:00 15 8 16
2020-12-01 00:00:00 14 4 20
2020-12-02 00:00:00 13 17 19
2021-05-04 00:00:00 14 6 19
2021-05-05 00:00:00 14 2 19
2021-05-06 00:00:00 13 5 19

(735, 24)

## calcul des temps initiaux et finaux

In [150]:
temps_initiaux = pd.DataFrame(0, index=pannes.index, columns=pannes.columns)
temps_finaux = pd.DataFrame(0, index=pannes.index, columns=pannes.columns)
for machine in temps_finaux.columns:
    print('\n', machine)
    t0 = 0
    t1 = 0
    test = pannes[machine]
    for jour in temps_finaux.index:
        if test.loc[jour] == 1:
            print('pannes', jour, machine, t0, t1)
            t0 = 0
        t1 = t0 + temps_jour2.loc[jour, machine]
        temps_initiaux.loc[jour, machine] = t0
        temps_finaux.loc[jour, machine] = t1
        # print(jour, t0, t1)
        t0 = t1

 7SXAWU98

 7SXAWT97

 7SXAWU81
pannes 2020-09-19 00:00:00 7SXAWU81 11632 11632
pannes 2020-09-20 00:00:00 7SXAWU81 0 0
pannes 2020-09-21 00:00:00 7SXAWU81 0 0
pannes 2021-04-23 00:00:00 7SXAWU81 9832 9832
pannes 2021-04-24 00:00:00 7SXAWU81 0 0
pannes 2021-04-25 00:00:00 7SXAWU81 0 0
pannes 2021-05-04 00:00:00 7SXAWU81 372 372
pannes 2021-05-05 00:00:00 7SXAWU81 0 0
pannes 2021-05-06 00:00:00 7SXAWU81 0 0
pannes 2021-06-01 00:00:00 7SXAWU81 728 728
pannes 2021-06-02 00:00:00 7SXAWU81 0 0
pannes 2021-06-03 00:00:00 7SXAWU81 0 0

 7SXAWU90
pannes 2020-10-01 00:00:00 7SXAWU90 12124 12124
pannes 2020-10-02 00:00:00 7SXAWU90 0 0
pannes 2020-10-03 00:00:00 7SXAWU90 0 0
pannes 2020-10-08 00:00:00 7SXAWU90 156 156
pannes 2020-10-09 00:00:00 7SXAWU90 0 0
pannes 2020-10-10 00:00:00 7SXAWU90 0 0

 7SXAWS81
pannes 2020-04-27 00:00:00 7SXAWS81 5220 5220
pannes 2020-04-28 00:00:00 7SXAWS81 0 0
pannes 2020-04-29 00:00:00 7SXAWS81 0 0
pannes 2021-02-01 00:00:00 7SXAWS81 12252 12252
pannes 2021-02-02 00:00:00 7SXAWS81 0 0
pannes 2021-02-03 00:00:00 7SXAWS81 0 0
pannes 2021-03-25 00:00:00 7SXAWS81 2308 2308
pannes 2021-03-26 00:00:00 7SXAWS81 0 0
pannes 2021-03-27 00:00:00 7SXAWS81 0 0
pannes 2021-03-30 00:00:00 7SXAWS81 52 52
pannes 2021-03-31 00:00:00 7SXAWS81 0 0
pannes 2021-04-01 00:00:00 7SXAWS81 0 0
pannes 2021-06-28 00:00:00 7SXAWS81 2348 2348
pannes 2021-06-29 00:00:00 7SXAWS81 0 0
pannes 2021-06-30 00:00:00 7SXAWS81 0 0

 7SXAWU96
pannes 2020-07-09 00:00:00 7SXAWU96 8360 8360
pannes 2020-07-10 00:00:00 7SXAWU96 0 0
pannes 2020-07-11 00:00:00 7SXAWU96 0 0
pannes 2021-03-23 00:00:00 7SXAWU96 11344 11344
pannes 2021-03-24 00:00:00 7SXAWU96 0 0
pannes 2021-03-25 00:00:00 7SXAWU96 0 0
pannes 2021-05-23 00:00:00 7SXAWU96 2672 2672
pannes 2021-05-24 00:00:00 7SXAWU96 0 0
pannes 2021-05-25 00:00:00 7SXAWU96 0 0
pannes 2021-05-28 00:00:00 7SXAWU96 0 0
pannes 2021-05-29 00:00:00 7SXAWU96 0 0
pannes 2021-05-30 00:00:00 7SXAWU96 0 0

 7SXAWU87
pannes 2020-08-13 00:00:00 7SXAWU87 9828 9828
pannes 2020-08-14 00:00:00 7SXAWU87 0 0
pannes 2020-08-15 00:00:00 7SXAWU87 0 0
pannes 2021-04-23 00:00:00 7SXAWU87 11272 11272
pannes 2021-04-24 00:00:00 7SXAWU87 0 0
pannes 2021-04-25 00:00:00 7SXAWU87 0 0

 7SXAWT98
pannes 2020-11-06 00:00:00 7SXAWT98 13500 13500
pannes 2020-11-07 00:00:00 7SXAWT98 0 0
pannes 2020-11-08 00:00:00 7SXAWT98 0 0
pannes 2021-05-04 00:00:00 7SXAWT98 8112 8112
pannes 2021-05-05 00:00:00 7SXAWT98 0 0
pannes 2021-05-06 00:00:00 7SXAWT98 0 0

 7SXAWU86

 7SXAWU97
pannes 2020-07-04 00:00:00 7SXAWU97 8120 8120
pannes 2020-07-05 00:00:00 7SXAWU97 0 0
pannes 2020-07-06 00:00:00 7SXAWU97 0 0
pannes 2020-12-01 00:00:00 7SXAWU97 6320 6320
pannes 2020-12-02 00:00:00 7SXAWU97 0 0
pannes 2020-12-03 00:00:00 7SXAWU97 0 0
pannes 2020-12-17 00:00:00 7SXAWU97 584 584
pannes 2020-12-18 00:00:00 7SXAWU97 0 0
pannes 2020-12-19 00:00:00 7SXAWU97 0 0
pannes 2021-01-21 00:00:00 7SXAWU97 1460 1460
pannes 2021-01-22 00:00:00 7SXAWU97 0 0
pannes 2021-01-23 00:00:00 7SXAWU97 0 0
pannes 2021-02-01 00:00:00 7SXAWU97 324 324
pannes 2021-02-02 00:00:00 7SXAWU97 0 0
pannes 2021-02-03 00:00:00 7SXAWU97 0 0
pannes 2021-02-10 00:00:00 7SXAWU97 276 276
pannes 2021-02-11 00:00:00 7SXAWU97 0 0
pannes 2021-02-12 00:00:00 7SXAWU97 0 0

 7SXAWU89
pannes 2020-09-17 00:00:00 7SXAWU89 11264 11264
pannes 2020-09-18 00:00:00 7SXAWU89 0 0
pannes 2020-09-19 00:00:00 7SXAWU89 0 0

 7SXAWU82
pannes 2020-09-17 00:00:00 7SXAWU82 11212 11212
pannes 2020-09-18 00:00:00 7SXAWU82 0 0
pannes 2020-09-19 00:00:00 7SXAWU82 0 0

 7SXAWU94
pannes 2020-09-19 00:00:00 7SXAWU94 11296 11296
pannes 2020-09-20 00:00:00 7SXAWU94 0 0
pannes 2020-09-21 00:00:00 7SXAWU94 0 0
pannes 2020-11-30 00:00:00 7SXAWU94 2900 2900
pannes 2020-12-01 00:00:00 7SXAWU94 0 0
pannes 2020-12-02 00:00:00 7SXAWU94 0 0
pannes 2021-02-10 00:00:00 7SXAWU94 3140 3140
pannes 2021-02-11 00:00:00 7SXAWU94 0 0
pannes 2021-02-12 00:00:00 7SXAWU94 0 0
pannes 2021-11-30 00:00:00 7SXAWU94 4492 4492
pannes 2021-12-01 00:00:00 7SXAWU94 0 0
pannes 2021-12-02 00:00:00 7SXAWU94 0 0

 7SXAWU79
pannes 2020-06-17 00:00:00 7SXAWU79 7248 7248
pannes 2020-06-18 00:00:00 7SXAWU79 0 0
pannes 2020-06-19 00:00:00 7SXAWU79 0 0
pannes 2021-01-26 00:00:00 7SXAWU79 9476 9476
pannes 2021-01-27 00:00:00 7SXAWU79 0 0
pannes 2021-01-28 00:00:00 7SXAWU79 0 0
pannes 2021-05-04 00:00:00 7SXAWU79 4300 4300
pannes 2021-05-05 00:00:00 7SXAWU79 0 0
pannes 2021-05-06 00:00:00 7SXAWU79 0 0

 7SXAWU93
pannes 2020-10-09 00:00:00 7SXAWU93 12064 12064
pannes 2020-10-10 00:00:00 7SXAWU93 0 0
pannes 2020-10-11 00:00:00 7SXAWU93 0 0

 7SXAWU91
pannes 2020-09-12 00:00:00 7SXAWU91 10856 10856
pannes 2020-09-13 00:00:00 7SXAWU91 0 0
pannes 2020-09-14 00:00:00 7SXAWU91 0 0
pannes 2021-04-27 00:00:00 7SXAWU91 9864 9864
pannes 2021-04-28 00:00:00 7SXAWU91 0 0
pannes 2021-04-29 00:00:00 7SXAWU91 0 0
pannes 2021-05-04 00:00:00 7SXAWU91 148 148
pannes 2021-05-05 00:00:00 7SXAWU91 0 0
pannes 2021-05-06 00:00:00 7SXAWU91 0 0
pannes 2021-06-28 00:00:00 7SXAWU91 696 696
pannes 2021-06-29 00:00:00 7SXAWU91 0 0
pannes 2021-06-30 00:00:00 7SXAWU91 0 0

 7SXAWU80
pannes 2020-09-19 00:00:00 7SXAWU80 11112 11112
pannes 2020-09-20 00:00:00 7SXAWU80 0 0
pannes 2020-09-21 00:00:00 7SXAWU80 0 0
pannes 2020-12-02 00:00:00 7SXAWU80 2968 2968
pannes 2020-12-03 00:00:00 7SXAWU80 0 0
pannes 2020-12-04 00:00:00 7SXAWU80 0 0
pannes 2021-04-06 00:00:00 7SXAWU80 5488 5488
pannes 2021-04-07 00:00:00 7SXAWU80 0 0
pannes 2021-04-08 00:00:00 7SXAWU80 0 0
pannes 2021-04-16 00:00:00 7SXAWU80 304 304
pannes 2021-04-17 00:00:00 7SXAWU80 0 0
pannes 2021-04-18 00:00:00 7SXAWU80 0 0
pannes 2021-04-23 00:00:00 7SXAWU80 208 208
pannes 2021-04-24 00:00:00 7SXAWU80 0 0
pannes 2021-04-25 00:00:00 7SXAWU80 0 0
pannes 2021-05-04 00:00:00 7SXAWU80 356 356
pannes 2021-05-05 00:00:00 7SXAWU80 0 0
pannes 2021-05-06 00:00:00 7SXAWU80 0 0

 7SXAWU84
pannes 2020-02-14 00:00:00 7SXAWU84 2016 2016
pannes 2020-02-15 00:00:00 7SXAWU84 0 0
pannes 2020-02-16 00:00:00 7SXAWU84 0 0
pannes 2020-07-23 00:00:00 7SXAWU84 6612 6612
pannes 2020-07-24 00:00:00 7SXAWU84 0 0
pannes 2020-07-25 00:00:00 7SXAWU84 0 0

 7SXAWU85
pannes 2020-08-23 00:00:00 7SXAWU85 9920 9920
pannes 2020-08-24 00:00:00 7SXAWU85 0 0
pannes 2020-08-25 00:00:00 7SXAWU85 0 0
pannes 2021-06-15 00:00:00 7SXAWU85 11780 11780
pannes 2021-06-16 00:00:00 7SXAWU85 0 0
pannes 2021-06-17 00:00:00 7SXAWU85 0 0

 7SXAWS82
pannes 2020-09-17 00:00:00 7SXAWS82 10864 10864
pannes 2020-09-18 00:00:00 7SXAWS82 0 0
pannes 2020-09-19 00:00:00 7SXAWS82 0 0
pannes 2021-04-27 00:00:00 7SXAWS82 9480 9480
pannes 2021-04-28 00:00:00 7SXAWS82 0 0
pannes 2021-04-29 00:00:00 7SXAWS82 0 0

 7SXAWS80
pannes 2020-07-13 00:00:00 7SXAWS80 8100 8100
pannes 2020-07-14 00:00:00 7SXAWS80 0 0
pannes 2020-07-15 00:00:00 7SXAWS80 0 0
pannes 2020-11-30 00:00:00 7SXAWS80 5600 5600
pannes 2020-12-01 00:00:00 7SXAWS80 0 0
pannes 2020-12-02 00:00:00 7SXAWS80 0 0
pannes 2020-12-17 00:00:00 7SXAWS80 616 616
pannes 2020-12-18 00:00:00 7SXAWS80 0 0
pannes 2020-12-19 00:00:00 7SXAWS80 0 0

 7SXAWU83
pannes 2020-09-17 00:00:00 7SXAWU83 10808 10808
pannes 2020-09-18 00:00:00 7SXAWU83 0 0
pannes 2020-09-19 00:00:00 7SXAWU83 0 0
pannes 2020-11-24 00:00:00 7SXAWU83 2628 2628
pannes 2020-11-25 00:00:00 7SXAWU83 0 0
pannes 2020-11-26 00:00:00 7SXAWU83 0 0
pannes 2020-12-01 00:00:00 7SXAWU83 140 140
pannes 2020-12-02 00:00:00 7SXAWU83 0 0
pannes 2020-12-03 00:00:00 7SXAWU83 0 0

 7SXAWU95
pannes 2020-03-30 00:00:00 7SXAWU95 3804 3804
pannes 2020-03-31 00:00:00 7SXAWU95 0 0
pannes 2020-04-01 00:00:00 7SXAWU95 0 0
pannes 2020-08-13 00:00:00 7SXAWU95 5448 5448
pannes 2020-08-14 00:00:00 7SXAWU95 0 0
pannes 2020-08-15 00:00:00 7SXAWU95 0 0
pannes 2021-02-01 00:00:00 7SXAWU95 7096 7096
pannes 2021-02-02 00:00:00 7SXAWU95 0 0
pannes 2021-02-03 00:00:00 7SXAWU95 0 0
pannes 2021-03-25 00:00:00 7SXAWU95 2172 2172
pannes 2021-03-26 00:00:00 7SXAWU95 0 0
pannes 2021-03-27 00:00:00 7SXAWU95 0 0

 6SX4LV10
pannes 2020-09-17 00:00:00 6SX4LV10 10692 10692
pannes 2020-09-18 00:00:00 6SX4LV10 0 0
pannes 2020-09-19 00:00:00 6SX4LV10 0 0
pannes 2021-04-16 00:00:00 6SX4LV10 8896 8896
pannes 2021-04-17 00:00:00 6SX4LV10 0 0
pannes 2021-04-18 00:00:00 6SX4LV10 0 0
pannes 2021-05-27 00:00:00 6SX4LV10 1508 1508
pannes 2021-05-28 00:00:00 6SX4LV10 0 0
pannes 2021-05-29 00:00:00 6SX4LV10 0 0
pannes 2021-06-01 00:00:00 6SX4LV10 0 0
pannes 2021-06-02 00:00:00 6SX4LV10 0 0
pannes 2021-06-03 00:00:00 6SX4LV10 0 0

In [155]:
temps_initiaux[machines_utiles[:10]].head()

Machines,7SXAWU81,7SXAWU90,7SXAWS81,7SXAWU96,7SXAWU87,7SXAWT98,7SXAWU97,7SXAWU89,7SXAWU82,7SXAWU94
2020-01-01,0,0,0,0,0,0,0,0,0,0
2020-01-02,52,52,52,52,52,52,52,52,52,52
2020-01-03,108,108,108,108,108,108,108,108,108,108
2020-01-04,164,164,164,164,164,164,164,164,164,164
2020-01-05,164,164,164,164,164,164,164,164,164,164

In [156]:
temps_initiaux[machines_secours].head()

Machines    7SXAWU98  7SXAWT97  7SXAWU86
2020-01-01         0         0         0
2020-01-02         0         0         0
2020-01-03         0         0         0
2020-01-04         0         0         0
2020-01-05         0         0         0

In [157]:
temps_finaux[machines_utiles[:10]].tail()

Machines,7SXAWU81,7SXAWU90,7SXAWS81,7SXAWU96,7SXAWU87,7SXAWT98,7SXAWU97,7SXAWU89,7SXAWU82,7SXAWU94
2021-12-31,0,10328,0,0,1264,728,4548,10984,10936,0
2022-01-01,0,10328,0,0,1264,728,4548,10984,10936,0
2022-01-02,0,10328,0,0,1264,728,4548,10984,10936,0
2022-01-03,0,10328,0,0,1264,728,4548,10984,10936,0
2022-01-04,0,10328,0,0,1264,728,4548,10984,10936,0

In [158]:
temps_finaux[machines_secours].tail()

Machines    7SXAWU98  7SXAWT97  7SXAWU86
2021-12-31      4448      1920       876
2022-01-01      4448      1920       876
2022-01-02      4448      1920       876
2022-01-03      4448      1920       876
2022-01-04      4448      1920       876

## Identification du nombre de lits

In [ ]:
nb_lits = seances.resample('W').max()['Patients']
nb_lits.head()

In [ ]:
nb_lits.value_counts()

## calcul de la repartition des charges par machines

In [ ]:
temps_effectif = generateurs['TF']
temps_total_effectif = temps_effectif.sum()
temps_total_effectif

In [ ]:
repartition = temps_effectif / temps_total_effectif
repartition.name = 'use_duration'
repartition.head()

In [ ]:
machines_rank = repartition.rank(method='first', ascending=False)
machines_rank.head()

In [ ]:
machines = []
for date, row in temps_initial_hebdo.iterrows():
    temps_machines = repartition * row.use_duration
    machines_hebdo = temps_machines.to_frame()
    machines_hebdo['final_duration'] = repartition * row.final_duration
    # print(machines_hebdo)
    machines_hebdo['code'] = generateurs['Code']
    machines_hebdo['period'] = date
    machines_hebdo['rank'] = machines_rank
    # machines_hebdo['final_duration'] = temps_initial_hebdo.loc[date, 'final_duration']
    nb_lits_hebdo = nb_lits[date]
    machines_lits = machines_hebdo[machines_hebdo['rank'] <= nb_lits_hebdo]
    machines.append(machines_lits)
machines = pd.concat(machines)
machines.drop('rank', axis=1, inplace=True)
machines.head()

In [ ]:
# verification des calculs
machines.groupby('period')['use_duration'].count().value_counts()

# Echantillonage par phases

In [ ]:
# fix random seed
np.random.seed(0)

## Echantillonage des semaines
ces echantillons sont utilises pour la comparaison entre ordonnancement manuel et intelligent

In [ ]:
periodes = [periode.date() for periode, _ in machines.groupby('period')]
periodes = pd.Series(periodes)
periodes

In [ ]:
periodes_sample = periodes.sample(n=40)
# periodes_sample = periodes.loc[:1]
periodes_sample

## Echantillonage des machines
On doit:
- garder le ratio patients/machines constant
- controler le nombre de machines
- faciliter la visualisation dans un diagrame de gantt

In [ ]:
#print(machines['period'])

In [ ]:
patients_group = []
machines_group = []
for periode in periodes_sample:
    patients_subgroup0 = patients[patients['period'].isin([periode])]
    machines_subgroup0 = machines[machines['period'].isin([periode])]
    nb_machine0 = machines_subgroup0.shape[0]
    for nb_machine1 in (4, 8, 21):
        machines_subgroup1 = machines_subgroup0.sample(n=nb_machine1)
        machines_subgroup1['instance'] = machines_subgroup1['period'].dt.strftime('w%Y-%m-%d-m') + str(nb_machine1)
        machines_group.append(machines_subgroup1)
        k = nb_machine1 / nb_machine0
        f = lambda val: int(np.ceil(val*k))
        patients_subgroup1 = patients_subgroup0.copy()
        patients_subgroup1['instance'] = patients_subgroup1['period'].dt.strftime('w%Y-%m-%d-m') + str(nb_machine1)
        patients_subgroup1['number'] = patients_subgroup1['number'].apply(f)
        patients_group.append(patients_subgroup1)

In [ ]:
patients_sample = pd.concat(patients_group)
patients_sample.head(25)

In [ ]:
machines_sample = pd.concat(machines_group)
machines_sample.head(25)

## enregistrement des echantillons

In [ ]:
patients_path = os.path.join(benchmarkdir, 'echantillons_patients.csv')
patients_sample.to_csv(patients_path)
patients_sample.dtypes

In [ ]:
machines_path = os.path.join(benchmarkdir, 'echantillons_machines.csv')
machines_sample.to_csv(machines_path)
machines_sample.dtypes